<section class="bar background-pentagon no-mb no-pd">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-left">
                    <h2>Challenge on Tweet Engagemnt Prediction</h2>
                </div>
            </div>
    </div>
</section>
<section class="no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-left">
                    <h4>Leaderboard</h4>
                    <table style="width:80%">
                        <tr></tr>
                            <th>Team Name</th>
                            <th>Submission Date</th>
                            <th>RCE</th>
                        <tr></tr>
                        <tr>
                            <td>e</td>
                            <td>b</td>
                            <td>a</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>4</td>
                            <td>1</td>
                        </tr>
                    </table>
                </div>
                <div class="heading text-left">
                    Submission
                </div>
                <p>
                <form method="post" action="https://usebasin.com/f/c5a2be00c5da">
                    <input type="text" name="team_name" value="Team Name">
                    <input type="text" name="team_name" value="Predictions">
                    <input type="submit" name="submit" value="submit">
                </form>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /.bar -->
