<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>
        <section class="bar background-pentagon no-mb no-pd">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-left">
                            <h2>Challenge on Tweet Engagement Prediction</h2>
                        </div>
                    </div>
            </div>
        </section>
        <section class="no-mb">
          <div class="container homepage">
            {{ .Content }}
          </div>
        </section>i
        {{ partial "footer.html" . }}
    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
